AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
  RewriteEngine On
	
  RewriteCond %{HTTP_HOST} !^bigbread\.dev [NC]
  RewriteRule ^(.*)$ http://bigbread.dev/$1 [R=301,L]
	
  # TODO: Remove this if we run on a server with PHP as Apache module
  # Bluehost runs PHP as a CGI process, so this hack is necessary
  # @see AppController::auth_api()
  RewriteRule .? - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
  
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
