AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # 
  # Restrict access to known IPs as identified by the comment above
  # each RewriteCond.
  # 
  # Rob Home
  RewriteCond %{REMOTE_ADDR} !^68\.48\.9\.
  # Rob's Client Site
  RewriteCond %{REMOTE_ADDR} !^71\.127\.151\.
  # Rob's Outlaws' Home
  RewriteCond %{REMOTE_ADDR} !^173\.71\.205\.
  # Georg Work
  RewriteCond %{REMOTE_ADDR} !^128\.173\.211\.
  # Tony Work
  RewriteCond %{REMOTE_ADDR} !^76\.160\.175\.
  # Tony Home
  RewriteCond %{REMOTE_ADDR} !^96\.241\.115\.
  # Cyril
  RewriteCond %{REMOTE_ADDR} !^209\.6\.169\.
  # Cyril - new
  RewriteCond %{REMOTE_ADDR} !^209\.6\.166\.
  # Claudio
  RewriteCond %{REMOTE_ADDR} !^98\.203\.35\.
  # Lauren
  RewriteCond %{REMOTE_ADDR} !^76\.127\.154\.
  # Lauren - new
  RewriteCond %{REMOTE_ADDR} !^50\.133\.169\.
  # Lauren in Baltimore
  RewriteCond %{REMOTE_ADDR} !^65\.199\.61\.
  # Peter Home
  RewriteCond %{REMOTE_ADDR} !^96\.241\.49\.
  # Adobe Browser Labs (for cross-browser testing)
  # see http://blogs.adobe.com/browserlab/2011/04/14/browserlabs-egress-ip-addresses/
  RewriteCond %{REMOTE_ADDR} !^212\.113\.146\.11
  RewriteCond %{REMOTE_ADDR} !^192\.150\.3\.7

  RewriteRule ^(.*)$ http://www.savebigbread.com/$1 [R=301,L]
  
  # TODO: Remove this if we run on a server with PHP as Apache module
  # Bluehost runs PHP as a CGI process, so this hack is necessary
  # @see AppController::auth_api()
  RewriteRule .? - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
  
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
