/* place all IE-specific overwrites here */

/* overwrites to rgba background color settings */
table { border-spacing: 0; }
tr.odd { background-color: rgba(143, 212, 105, 0.1)/*#f4fbf0*/; border: none; }
tr.even { background-color: transparent;  }
tr:hover { background-color: rgba(143, 212, 105, 0.25); }


/* home page */
.login-wrapper { position: absolute; right: 100px; height: 64px; }
body.layout-default_landing #login-trigger a { background: url(../img/login-cloud.png) no-repeat; height: 64px; display: block; float: right; margin-top: -37px; }
body.layout-default_landing #content-top-inner { background: url(../img/home-top-content-trees.png) 50px 255px no-repeat; }
body.layout-default_landing #logo { width: 360px; position: static; z-index: 10;  margin: 10px 0 0 30px; }
.sample-rebate { width: 447px; height: 327px; position: static; margin: -120px auto 0; padding: 90px 0 0; background: url(../img/sample-rebate-outer.png) no-repeat; text-align: center; }
.house-signup { width: 336px; height: 183px; margin: 0 auto 0; padding: 20px 0; background: url(../img/sample-rebate-inner.png) 0px 0px no-repeat; }
.house-signup form { margin: 0; }
.house-signup div.input { margin-top: -20px; }
.house-signup form #zipcode-submit { margin-top: 0; }
.testimonial-quote-mark { vertical-align: top; }
