/* CSS Document */

* {
	margin:0;
	padding:0;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #646464;
	text-align: left;
}
body { background:#FFF; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:15px; color:#333;}
bodyMain { background:#688A3D; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:20px; color:#333;}
#wrapper {width:984px;margin:0 auto;text-align:left;padding:0 0 10px 0;}
input, textarea {font-family:Arial,Helvetica,sans-serif; font-size:1em;}
.clear { clear:both;}
img {
	border:0 none;
	margin: 0 auto;}
a img { border:0;}
a {color:#eee; outline:none; text-decoration:none;}
a:hover{text-decoration:underline;}
a.disabled { cursor: default; }
a.toggle-form { color: #e48d3f; }
p { margin:0; padding:0;}
#content h1, #infohead {font-size: 24px; font-weight:normal; margin: 0 0 10px 0; padding:0; line-height:1em;}
#content h2 {font-size: 16px; margin: 1.75em 0 0.25em 0; padding: 0;}
#sidebar h2 {font-size: 14px; margin: 1.5em 0 0.25em 0; padding: 0;}
#content h3 {font-size: 14px; margin: 10px 0; padding: 0;}
.help-available { cursor: help; }
.hidden { display: none; }
.loading { padding-left: 10px; }
.loading .spinner { vertical-align: middle; }

/* ============================= Top header ====================== */
#header {}
#logoheader{ margin: 0; background:url(../img/topbk.png) top repeat-x; height:110px;}

#logo{ float: left; margin: 40px 0 0 10px;}
.menu{ background:url(../img/menubk.png) top repeat-x; height:57px;}
.menu ul { list-style:none;}
.menu li{ float:left; margin: 50px 0 0 -110px;}
#nav-links{position: relative;z-index: 99;top: 10px; float:right;}
#nav-links li{ float:left; list-style:none;  }
#nav-links li a{ border-bottom:solid 1px #bbb; display: block; padding:10px 20px 8px 20px; color:#717171; text-decoration:none; background:#ECECEC url(../img/navsep.png) right 10px no-repeat;}
#nav-links li a:hover{ color:#222;}
#nav-links .last a { background:#ECECEC url(../img/navback.png) right 10px no-repeat;}
#nav-links .first a { background:#ECECEC url(../img/navfront.png) left 10px no-repeat;background:#ECECEC url(../img/navsep.png) right 10px no-repeat;}
#version {float: right;margin: 10px 30px 0 0;}
#social_media {display: none; float: right; margin: 28px 10px 0 0; text-align: right; color: #FFF;}
#social_media img {vertical-align: middle;}
#social_media a{font-weight:bold;font:16px Arial, Helvetica, sans-serif;}

#menubar{
	float:left;
	width:70%;
	margin-top: 11px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 10px;
}

/* ============================= page_content ======================= */
#page_content {background: #FDFEF9; padding: 0;}
body.onecolumn #page_content {background-color: transparent; padding:0;}
#bodyheader {border-bottom:solid 1px #333; background:#91C32E;   height:128px;}
#bodyheaderhead {float: left;width:135px; height:44px; background:url(../img/MyEquipment.png) no-repeat 2px 0;padding:84px 0px 0 0px;text-align:center;}
#bodyheader ul, #savings{ float:left;  list-style:none;}
#bodyheader ul li, #savings li {float: left; background: #91C32C; height:128px;width:118px; text-align:center; overflow: hidden;}
#bodyheader li a, #savings li a {color:#3D7700; font-weight:bold; padding:0; margin:0;}
#bodyheader li a:hover, #savings li a:hover {text-decoration:none;}
#bodyheader li p {text-align: center; padding: 0; margin:0;}
#bodymain {background:#8FC12E; padding-top: 30px;}
body.onecolumn #bodymain {background:#C2D89A url(../img/generalbak.png) top repeat-x; padding: 30px 20px 20px 20px;}
body.onecolumn #content {background: #FFFFFF; min-height:400px; padding: 50px 60px 60px 60px; float:none; width:auto;}

.savings{
	padding: 8px 0 2px 0;
	height: 15px; overflow: hidden;
	width: 118px;
	text-align: center;
	color: #3D7700;
	font-weight: bold; font: 16px Arial, Helvetica, sans-serif;}

#savings span {color:#3D7700; font-weight:bold;line-height:1.8em;}
.eq {display: block; height:25px;width:118px;padding:61px 0px 0px 0px;text-align:center;}

/** Appliances */
#eq_c44374b26f7f11e0be4180593d270cc9 {background:url(../img/Appliance_on.png) no-repeat 10px 0;}
#eq_c44374b26f7f11e0be4180593d270cc9_off {background:url(../img/Appliance_off.png) no-repeat 10px 0;}
/** Building Shell */
#eq_c44375486f7f11e0be4180593d270cc9 {background:url(../img/Exterior_on.png) no-repeat 10px 0;}
#eq_c44375486f7f11e0be4180593d270cc9_off {background:url(../img/Exterior_off.png) no-repeat 10px 0;}
/** Heating & Cooling */
#eq_c44376606f7f11e0be4180593d270cc9 {background:url(../img/HeatCool_on.png) no-repeat 10px 0;}
#eq_c44376606f7f11e0be4180593d270cc9_off {background:url(../img/HeatCool_off.png) no-repeat 10px 0;}
/** Hot Water */
#eq_c44376ec6f7f11e0be4180593d270cc9 {background:url(../img/HotWater_on.png) no-repeat 10px 0;}
#eq_c44376ec6f7f11e0be4180593d270cc9_off {background:url(../img/HotWater_off.png) no-repeat 10px 0;}
/** Lighting */
#eq_c44377786f7f11e0be4180593d270cc9 {background:url(../img/Light_on.png) no-repeat 10px 0;}
#eq_c44377786f7f11e0be4180593d270cc9_off {background:url(../img/Light_off.png) no-repeat 10px 0;}
/** Other */
#eq_c44377fa6f7f11e0be4180593d270cc9 {background:url(../img/Other_on.png) no-repeat 10px 0;}
#eq_c44377fa6f7f11e0be4180593d270cc9_off {background:url(../img/Other_off.png) no-repeat 10px 0;}
/** Whole House */
#eq_c44379126f7f11e0be4180593d270cc9 {background:url(../img/All_on.png) no-repeat 10px 0;}
#eq_c44379126f7f11e0be4180593d270cc9_off {background:url(../img/All_off.png) no-repeat 10px 0;}
/** Unused
#eq2 {background:url(../img/DIY_on.png) no-repeat 10px 0;}
#eq2_off {background:url(../img/DIY_off.png) no-repeat 10px 0;}
*/
#TermsCondition_on {background:url(../img/TermsCondition_on.png) no-repeat 0 0; width:151px; height:26px; float:left; margin-right:10px;}
#TermsCondition_off {background:url(../img/TermsCondition_off.png) no-repeat 0 0; width:151px; height:26px; float:left; margin-right:10px;}
#RebateForm_on {background:url(../img/RebateForm_on.png) no-repeat 0 0; width:105px; height:26px; float:left; margin-right:10px;}
#RebateForm_off {background:url(../img/RebateForm_off.png) no-repeat 0 0; width:105px; height:26px; float:left; margin-right:10px;}
#SponsporInfo_on {background:url(../img/SponsporInfo_on.png) no-repeat 0 0; width:108px; height:26px; float:left; margin-right:10px;}
#SponsorInfo_off {background:url(../img/SponsorInfo_off.png) no-repeat 0 0; width:108px; height:26px; float:left; margin-right:10px;}
#terms p {padding:10px 0;}
/* ============================= sidebar ======================= */
#sidebar{ float: left; width:272px; background: #8FC12E;height:100%;	}
#questionnaire {width:272px; color:#fff; padding: 20px 0;background:#518205 url(../img/DollarSign.png) no-repeat center center;}
#questionnaire ul, #questionnaire_act ul, #questionnaire_nav ul{ list-style:none;}
#questionnaire h2{padding: 0 0 20px 20px; color:#fff;}
#questionnaire li a{padding: 10px 0 10px 50px; font-size:14px; background: url(../img/WhiteCircle.png) no-repeat 20px 5px; color:#fff;font-weight:bold;  display: block;}
#questionnaire li a:hover, #questionnaire li a.active{background:#fff url(../img/WhiteCircleCheck.png) no-repeat 20px 5px; color:#000;font-weight:bold;  filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5; text-decoration:none;}
#questionnaire li a.disabled { filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5; }
#questionnaire li a.disabled:hover { padding: 10px 0 10px 50px; font-size:14px; background: url(../img/WhiteCircle.png) no-repeat 20px 5px; color:#fff;font-weight:bold;display: block; }

#questionnaire_nav li, #questionnaire_act li {float:left; }
#getstart {background:#F9FAF4; padding: 20px;}
#tips {min-height:162px; background:#518205;padding:10px 0;}
#tip {width: 213px;background:#fff;margin:0 auto;min-height:122px;font:14px Arial, Helvetica, sans-serif; color:#619300;padding:10px}
#tip p{padding:10px}
#tiptop{width: 233px;height:10px;background:url(../img/topWhiteBar.png) no-repeat 0 0;margin:0 auto;}
#tipbtm{width: 233px;height:10px;background:url(../img/bottomWhiteBar.png) no-repeat 0 0;margin:0 auto;}
#address-panels { list-style: none; margin: auto; }
#address-panel {width:242px; margin:10px auto; padding:0; border-collapse:collapse;}
#address-panel th{text-align:left;text-transform: uppercase;background:#444;padding:5px;font:14px Arial, Helvetica, sans-serif;
	color: #CCC;font-weight:bold;}
#address-panel td{text-align:left;background:#eee;padding:4px 0 2px 10px;font:13px Arial, Helvetica, sans-serif; color: #333; vertical-align:top;}
#address-panel td.adrs{width: 160px;border-right: 2px solid #444;}
#address-panel-nav { width: 242px; margin: auto; }
#address-panel-nav a { color: #fff; }
#address-panel-nav .previous { float: left; }
#address-panel-nav .next { float: right; }
/* ============================= content ===================== */
#content {float: left;width: 692px; background: #f9faf4;}
#contentheader {background: #fff;	border-bottom: 1px solid #aaa; padding: 10px 0 0 30px; font:14px/15px Arial, Helvetica, sans-serif; color:#666;width:662px;}
#contentheader p {font-size:15px;}
#contentheader li, a {color:#619300; padding: 1px 0 7px 0;list-style:none;font-size:12px;}

#user_type {border: none;}
#user_type td {width:200px;background: #fff;padding: 10px 0;}
#user_type input {border: none;padding: 0;margin: 5px 0;}

#bodyheader{height:128px;}
#signupheader ul {list-style:none; margin: 15px 0; overflow: hidden;}
#signupheader ul li {display: block; float: left; width:25%; text-align:center;}


#signupheader {margin: auto; background: #fff;border:solid 1px #aaa; padding: 10px; font:16px Arial, Helvetica, sans-serif; font-weight:bold; width: 666px;}
#signupbody {margin:0 auto; width: 666px; background: #F9FAF4; margin:0 auto; padding: 20px 0 20px 20px;}
#house_img {float: left;width: 200px;padding:10px 0 30px 0px}
#house_info {float: left;}
#info {
	background: #F9FAF4; border-top: 9px solid #C2D89A;
	padding: 8px;
	font:14px Arial, Helvetica, sans-serif;
	color:#333;}
#general_Info #info {border-top: 0 none;}
#content #info h2 {margin: 0.25em 0; color: #545454;
	font-family: Arial, Helvetica, sans-serif; font-size: 22px; font-weight: normal;}
#general_Info #info h2 {margin: 1em 0 0.25em 0;}

.item {
	background: #eff2dd; width:692px; border-top: 7px solid #fff;font-weight:bold;font:11px/15px Arial, Helvetica, sans-serif; color:#333;
	margin: 0 auto; padding: 10px 0;}
#info img,
.item img {float:left; margin: 0 7px;}
.item div,
.item h3 { font-size: 16px; font-weight:bold; padding: 2px 0; }
.item h3 { color: #dd7e34; margin: 0 0 0 50px !important;  }
.item a.all-incentives { display: block; float: right; margin-right: 50px; }

.itemprice ul, #sponser ul, #questionnaire_act ul, #terms ul{ list-style:none;}
#terms li{ margin: 10px 10px 10px 25px;}
.item ul{ list-style:none; margin:0 0 0 50px}
.item li {float:left;  min-width:160px; padding: 10px 0; margin-right: 15px; }
.item li.last { margin-right: 0; }
.item p {margin-left: 50px;}
#sponser {
	background: #F9FAF4;
	width:624px;
	font:11px Arial, Helvetica, sans-serif;
	color:#666;
	padding: 8px 0 18px 13px;
	margin: 0 0 0 27px;}
#sponser h3 {margin: 10px 0 10px 11px;}
#sponser ul{ margin:0 20px;}
#sponser li{ margin:8px;}
#sponser li a {color:#C75A21;}
.itemprice_border {
	width:637px; background-color: #FFF;
	border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; border-left: 0 none; border-right: 0 none;
	margin: 0 0 0 27px;}
.itemprice { background: #F9FAF4; width:621px; height: 55px;border:solid 7px #fff;}
.itemprice li {color:#619300; float:left; padding: 4px 10px 6px 10px;}
.itemprice li.itemname {width:240px; }
.price {
	float:left; background: url(../img/SavingsBackground.png) -3px -3px no-repeat; width:165px; height: 69px;margin: -7px 0 0 -7px; padding:0;
	text-align:center; vertical-align:middle;}
.USD {} /* Dollar - Default */
.PERC {} /* Percent */
.DPTON {} /* Dollars per ton */
.DPSF {} /* Dollars per square foot */
.DPLF {} /* Dollars per linear foot */
.DPKW {} /* Dollars per kW */
.DPGAL {} /* Dollars per gallon */
.DPBTU {} /* Dollars per BTUh */

.price p.pricevalue {color:#fff; font-family: Georgia, "Times New Roman", Times, serif; font-size: 36px; line-height: 55px; text-align:center;}
.price p.priceunit {color:#fff; font-family: Georgia, "Times New Roman", Times, serif; font-size: 18px; line-height: 0px; text-align:center;}

.itemspac {
	background: #F9FAF4;
	width:637px;
	height: 50px;
	margin: 0 0 0 27px;}
.incentive {
		background: #F9FAF4; width:573px; padding: 15px 30px 20px 30px;border: 2px solid #699607;margin: 0 0 0 27px; display: none;}
.incentive p {padding: 5px 0 12px 0; color: #666;}
.incentive-bar {
	background: #E5E9DB;
	width:529px;
	margin:0 auto;
	padding:10px 0px 10px 10px;}
.incentive-btn {float:right;}
.incentive-note {width:200px; margin:0px auto;}
.incentive-note a {margin:0 auto;padding:10px 50px;background: #3D7700;display:block;color:#fff;}

table.incentive-details,
table.incentive-tnc {
	padding: 0; margin: 0 0 12px 0; 
	border: 0 none !important; border-collapse: collapse;}
table.incentive-details th,
table.incentive-details td,
table.incentive-tnc th,
table.incentive-tnc td {
	text-align: left; vertical-align:top;
	padding: 1px 4px 2px 0; margin:0; 
	border: 0 none; border-bottom: 1px solid #CCC; border-collapse: collapse;}
.incentive ul {
	padding: 0; margin: 0 0 0 14px;}
.incentive ul li {
	padding: 3px 0 0 0; margin:0;}
.incentive table ul li {
	padding:0; margin:0;}
.incentive .get-quote { float: right; margin: 0; padding: 0; }

table.incentive-details {width: 100%;}
table.incentive-tnc {width: 100%;}

table.incentive-details th,
table.incentive-details td {width: 33.3%;}
table.incentive-tnc th.terms,
table.incentive-tnc td.terms {width: 33.3%;}
table.incentive-tnc th.conditions,
table.incentive-tnc td.conditions {}

#printnow { width:122px; margin:0 auto; padding: 10px 0 30px 0;}

#general_Info {background: #F9FAF4;padding:10px 10px 0 10px; font-size:16px;}
#signupbody td{font-weight:bold;color: #333;font-size:16px;width: 200px;padding:0 50px 0 0;}
#submitcol{width: 100%;text-align:right;}
#submitcol input{border: none; margin-right:-70px;}
#general_Info table {width:402px; }
#general_Info td, #signup td, #questionnaire_act a{vertical-align:bottom; }
#questionnaire_nav {
	padding:20px 0px 0 0;
}
#questionnaire_act{ padding:0 0 50px 0; text-align:center;}
#reason {width: 630px; margin: 30px auto}
#reason p{padding:5px 5px 5px 0}
#reason th{color:#619300;text-align:center;}
#reason td{vertical-align:top;}

/* ============================= homepage ====================== */
.intro {width: 845px; margin: 5px auto 0 auto; font-weight:bold; line-height: 32px;}
.intro p {
	padding: 0;
	font-size:14px; color:#999;
	line-height:1.3em;}
.intro p.introbigtext {
	font-size: 30px; line-height: 1em; padding: 25px 0 10px 0;}
.intro p.introbigtext span {
	font-size: 30px; line-height: 1em;}
.intro p.introbigtext br {line-height: 1em;}
.green {color: #668A2E;}
.orange {color: #D65B18;}
#homepage #content h2 {color: #3D770B; font-size:18px; margin-top: 0.25em;}
.introcolumn {
	margin: 0 25px 0 30px;
    padding: 0 10px 0 0;
    width: 25%; float: left;}
.introcolumn p {margin:0; padding: 5px 0; font-size: 18px; color: #555; line-height: 1.1em;}
#content .introcolumn h2 {border-bottom: 1px solid #666666;
    color: #89AA55;
    font-size: 25px;
    margin: 10px 0 15px;
    padding: 0 0 10px;}

/* ============================= questionnaire ====================== */
.section { display: none; }
.section.active { display: block; }
#content .section h1 {
  margin-bottom: 15px;
}
#equipment table {
  border-spacing: 0;
  width: 100%;
}
#equipment table thead th,
#equipment table tbody td {
  border-bottom: 1px dotted #000;
  padding: 5px 0;
}
#equipment table tbody td.flash {
  border-bottom: 1px dotted #000;
  padding: 5px 0;
}
#equipment table thead th {
  border-bottom: 2px solid #000;
}
#equipment table tfoot tr td {
  padding-top: 10px;
}

/* ============================= one column "company info" pages ====================== */
body.onecolumn #content h1 {margin: 0 0 .25em 0;}
#content .bio h3 {margin: 2em 0 0.25em 0;}
.bio p {margin: 1em 0; padding:0;}
.bio p.contact {margin: 0 0 1em 0; padding:0;}


/* ============================= footer ====================== */
#footer {font-size:11px;border-top:solid 5px #111; background:#63635B; color:#ddd; padding:40px 0 0 20px; height:130px;}
#footer a {color:#ddd;}
#footerleft {float: left; color:#ddd;}
#footerleft p {padding: 5px 0 0 11px; color:#ddd;}
#footerright {width:460px; float: right; padding:20px 0 0 0; color: #63635B;}
#footerright img {margin-left: 10px;}

/* ============================= forms ======================= */
input, select, textarea {font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#000;border:solid 1px #888;padding: 8px;margin: 5px 0;}
input.placeholder, :-moz-placeholder { color: #bbb !important; }
.error-message {font-size:12px;color:#d63301;}
.error .form-error{ border:2px solid #d63301 !important;}
.form {width: 70%; margin: 30px auto; }
div.input{margin: 20px 0;}
div.checkbox {margin: 5px 0; padding:0;}
div.checkbox input,
input[type=checkbox] {margin-right: 7px; border: 0 none;}
.required label:after { content: '*' }
.error, .error-message {color: #d63301;}
input[type=text],
textarea {width: 300px;background-color: #FFF;}
label {
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	display:inline;}
div.input label {display: block;}
div.checkbox label,
div.radio label {display: inline;}
input[type=radio] {margin: 0 4px 0 25px; border: 0 none;}
fieldset {border: 0 none; margin: 0 0 10px 0;}
fieldset div.cloneable {border-bottom: 1px solid #CCC;}
input[type=submit],
input[type=reset]{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	background-color:#e48d3f;
	color:#FFF;
	padding: 4px 6px;
	text-transform: uppercase;
	text-align: center !important;}
.buttons {text-align:center !important;}
.form .buttons {text-align:left;}
.buttons div.button {display:inline; margin-right:10px;}
.buttons .button.disabled { display: none; }
button,
a.button {
	border: 0 none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
	background-color:#e48d3f;
	color:#FFF; font-weight:bold; font-size: 12px;
  display: block;
  float: left;
	padding: 13px 15px;}
.intro button,
.intro a.button {font-size: 14px; margin-bottom: 10px; text-decoration: none;}
.intro .link-action { clear: left; }
input[type=text][disabled] { background: transparent; border: none; color: #eee }
form .input.phonenumber .area-code, form .input.phonenumber .exchange { width: 3em; }
form .input.phonenumber .number { width: 4em; }
form small {
  display: block;
}
.hasDatepicker { width: 225px; }

.input.select.horizontal {
  float: left;
  margin-right: 20px;
}

/* Contractor registration bits */
#county_list, #county_list ol,
#manufacturer_lists, #manufacturer_lists ol {
  list-style: none;
  overflow: hidden;
}
#county_list li,
#manufacturer_lists li {
  float: left;
  margin-right: 20px;
  white-space: nowrap;
}
#county_list ol li,
#manufacturer_lists ol li {
  float: none;
  margin-right: 0;
}

/* ============================= Join ======================= */
#join {background-color: #C2D89A;}
#join #content {float:none; margin: 20px auto;}

/* ============================= flash-message ======================= */
.flash {
  background-repeat: no-repeat;
  background-position: 10px center;
  border: 2px solid;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 10px 10px;
  padding: 15px 10px 15px 50px;
  
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px
}
.flash.success {
  color: #4f8a10;
  background-color: #dff2bf;
  background-image: url( '../img/success.png' );
}

.flash.info {
  color: #00529b;
  background-color: #bde5f8;
  background-image: url( '../img/info.png' );
}

.flash.warning {
  color: #9f6000;
  background-color: #feefb3;
  background-image: url( '../img/warning.png' );
}

.flash.error {
  color: #d8000c;
  background-color: #ffbaba;
  background-image: url( '../img/error.png' );
}

.flash.validation {
  color: #d63301;
  background-color: #ffccba;
  background-image: url( '../img/validation.png' );
}

/* Custom flash style on questionnaire */
.flash.welcome {
  background-color: rgb(241, 242, 231); /* rgb( 228,141,63 ); */
  border: 1px solid #808080;
  margin-top: 0;
  padding: 20px;
}

.flash.long {
  background-position: 10px 10px;
}
.flash p {
  color: inherit;
  margin: 10px 0;
}
.flash p.first {
  margin-top: 0;
}
.flash p.last {
  margin-bottom: 0;
}
.flash.welcome * {
  color: #808080;
  font-size: 14px;
}
.flash.welcome a {
  color: #5384cf;
}

/* hide print specific styles */
.printable {display: none;}

/* Application-level stuff */
.sliding-panel { display: none; }

